body {
  font-size: 1.2em;
  line-height: 1.5; 
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  color: #000;
  background-color: rgb(123,219,70);
}

html {
  background-color: #fff;
}

a {
  color: rgb(6,136,204);
  text-decoration: underline;
}
a:hover {
  color: #000;
}

header {
  padding-top: 10px;
  padding-bottom: 25px;
}


header h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif; 
  letter-spacing: -0.04em;
  font-size: 4em;
  color: #FFF;
  line-height: 90%;
  margin-bottom: 15px;
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  header h1 {
    font-size: 4em;
    margin-bottom: 0px;
    line-height: 90px
  }
}

@media only screen and (min-width: 1440px) {
  header h1 {
    font-size: 4em;
    margin-bottom: 0px;
    letter-spacing: -5px;
  }
}

header h2 {
  letter-spacing: -1px;
  font-size: 1.5em;
  color: #ffffff;
  font-weight: normal;
  line-height: 1.3;
}

.fold {
  margin-top: 25px;
  background-color: #fff;
  color: #000;
  width: 100%;
}

.button {
  display: table;
  margin: 0 auto;
  margin-top: 10px;
}

.inner {
  padding-top: 10px;
}
.displayed {
  display: inline-block;
  margin: 6px 6px;
  }
}
.footer {
  padding: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.csheader {
  display: table;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  text-align: center;
}
.social {
  padding: 20px;
}
.flex-video {
  margin-bottom: 10px;
}
.mailchimp {
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 20em;
}